<div class="row">
  <div class="small-11 small-centered medium-11 medium-centered large-12 large-centered columns panel">

    <!-- For small and medium devices -->
    <div class="row hide-for-large-up">
      <div class="small-11 small-centered medium-11 medium-centered columns text-center">
        <h2>Description of site......</h2>
        <p>sidfh  dfsh  fhsd huf sdhuf usdiof sudiof sdfhuoidsf dsufh dsufhusdifh udsfh usdfh usdfh sdhf sdfusdf</p>
        <%= link_to 'Lost a Pet?', root_path, class: 'button expand' %>
        <%= link_to 'Found a Pet?', root_path, class: 'button expand' %>
      </div>
    </div>

    <!-- For large devices only -->
    <div class="row hide-for-small hide-for-medium">
      <div class="small-8 columns">
        <h2>Description of site......</h2>
        <p>sidfh  dfsh  fhsd huf sdhuf usdiof sudiof sdfhuoidsf dsufh dsufhusdifh udsfh usdfh usdfh sdhf sdfusdf</p>
      </div>
      <div class="small-4 columns text-center">
        <%= link_to 'Report a Lost Pet', root_path, class: 'button expand' %>
        <%= link_to 'Report a Sitted/Found Pet', root_path, class: 'button expand' %>
      </div>
    </div>


  </div>
</div>
