/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
@import 'foundation';

$main-lightgrey: lightgrey;

body{
background-image:  image-url('background.jpg');
}

.inner-wrap{
  background-image:  image-url('background.jpg');
}

.tab-bar {
  background-image:  image-url('background.jpg');
  height: 38px;
}

@media screen and (max-width: 980px) {
  .tab-bar .menu-icon {
    width: 58px;
    height: 38px;
    opacity: 0.25;
    background-color: $oil;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 2px solid $oil;
    margin: 5px;
  }
}

.left-off-canvas-menu {
  background-color: white;
}

ul.off-canvas-list li a {
  color: $oil;
  &:hover, &:focus {
    color: darken(white, 25%);
  }
  border-bottom: 1px solid lightgrey;
}

ul.off-canvas-list li label {
  background: lightgrey;
  color: $oil;
}

.mylogo {
  height: 85px;
}

.tab-bar .menu-icon span::after {
left: 18px;
}

.panel {
  background-color: white;
  border-color: white;
  border-radius: 7px;
}

.button.expand {
  border-radius: 7px;
}

.top-bar {
background-image:  image-url('background.jpg');
height: 130px;
}

.top-bar .title-area {
  margin-top: 50px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background-image:  image-url('background.jpg');
}
