/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */
@import 'foundation';

$main-lightgrey: lightgrey;
$background-color: #e8e8e8;
$header-font-color: #444;
$font-color: #696969;

body{
background-color: $background-color;
}

.inner-wrap{
  background-color: $background-color;
}

.tab-bar {
  background-color: $background-color;
  height: 38px;
}

@media screen and (max-width: 980px) {
  .tab-bar .menu-icon {
    width: 58px;
    height: 38px;
    opacity: 0.25;
    background-color: $oil;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 2px solid $oil;
    margin: 5px;
  }
}

.left-off-canvas-menu {
  background-color: white;
}

ul.off-canvas-list li a {
  color: $oil;
  border-bottom: 1px solid lightgrey;
  font-family: inherit;
  font-weight: 900;
}

ul.off-canvas-list li label {
  background: lightgrey;
  color: $oil;
  font-size: initial;
  font-family: inherit;
  font-weight: 900;
}

.mylogo {
  height: 95px;
}

.tab-bar .menu-icon span::after {
left: 18px;
}

.panel {
  background-color: white;
  border-color: white;
  border-radius: 7px;
}

.button.expand {
  border-radius: 7px;
  font-family: inherit;
  font-weight: 900;
  font-size: larger;
}

.top-bar {
background-color: $background-color;
height: 130px;
}

.top-bar .title-area {
  margin-top: 50px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background-image:  image-url('background.png');
}

button, .button-home {
  background-color: $oil;
  border-radius: 7px;
  padding: 7px;
  font-family: inherit;
  font-weight: 900;
  font-size: medium;
}

button, .button-menu {
  background-color: $background-color;
  border-radius: 7px;
  padding: 7px;
  font-family: inherit;
  font-weight: 900;
  font-size: medium;
}

a.button-home {
  color: white;
}

a.button-menu {
  color: $header-font-color;
  margin: 20px;
  background-hover: white;
}

.left-submenu.move-right {
  background-color: white;
  height: 500px;
}

button.dropdown {
  color: $header-font-color;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 900;
  font-size: medium;
  background-color: $background-color;
}

.large-top-bar button.dropdown::after {
  border-color: $header-font-color transparent transparent transparent;
}

.large-top-bar.button-group {
  padding-top: 38px;
}

a img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: none;
}

.column.small-centered:last-child, .columns.small-centered:last-child {
  padding: 0px;
}

.panel h1 {
  font-size: xx-large;
  font-weight: bolder;
  font-family: inherit;
  padding: 20px;
  color: $header-font-color;
}

.panel h2 {
  font-size: x-large;
  font-weight: lighter;
  font-family: sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: $font-color;
  line-height: 35px;
}

.panel h3 {
  font-size: larger;
  font-weight: bolder;
  font-family: inherit;
  padding: 20px;
  color: $header-font-color;
}

.panel p {
  font-size: medium;
  font-weight: lighter;
  font-family: sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: $font-color;
  line-height: 35px;
}

.header-panel-buttons {
  padding-top: 20px;
  padding-right: 32px;
}
 .columns.medium-centered:last-child
 {
  padding: 0px;
 }

 .database-panel {
  padding: 0px;
 }

 .small-data-panel {
  padding: 0px;
 }

 .how-it-works-panel-small {
  border-radius: 0px;
 }

 .how-it-works-panel-small p {
  padding-top: 15px;
  padding-left: 0px;
  padding-bottom: 0px;
 }

.how-it-works-panel-small h2 {
  font-size: large;
  font-weight: bolder;
  font-family: inherit;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 0px;
  color: $header-font-color;
 }

  .how-it-works-panel-medium-up {
  border-radius: 0px;
 }

 .how-it-works-panel-medium-up p {
  padding-top: 15px;
  padding-left: 0px;
  padding-bottom: 0px;
 }

  .how-it-works-panel-medium-up h2 {
    font-size: large;
    font-weight: bolder;
    font-family: inherit;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    color: $header-font-color;
 }

.large-top-bar {
  padding-top: 55px;
}



