.custom-devise-panel a {
  font-size: medium;
  font-weight: lighter;
  font-family: sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  line-height: 35px;
}

em, i {
  font-size: medium;
  font-weight: lighter;
  font-family: sans-serif;
  color: $font-color;
  line-height: 35px;
  font-style: normal;
}
