// Database images
.data-photo {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: none;
}

.column.small-centered:last-child, .columns.small-centered:last-child {
  padding: 0px;
}

.columns.medium-centered:last-child
 {
  padding: 0px;
 }

// Button adjustment on large
.header-panel-buttons {
  padding-top: 20px;
  padding-right: 32px;
}

// Remove padding from images
 .database-panel {
  padding: 0px;
 }

 .small-data-panel {
  padding: 0px;
 }

 // What to do panel
  .how-it-works-panel-small {
  border-radius: 0px;
 }

 .how-it-works-panel-small p {
  padding-top: 15px;
  padding-left: 0px;
  padding-bottom: 0px;
 }

.how-it-works-panel-small h2 {
  font-size: large;
  font-weight: bolder;
  font-family: inherit;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 0px;
  color: $header-font-color;
 }

  .how-it-works-panel-medium-up {
  border-radius: 0px;
 }

 .how-it-works-panel-medium-up p {
  padding-top: 15px;
  padding-left: 0px;
  padding-bottom: 0px;
 }

  .how-it-works-panel-medium-up h2 {
    font-size: large;
    font-weight: bolder;
    font-family: inherit;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    color: $header-font-color;
 }
